.App {
  text-align: center;
  background: linear-gradient(#8dabdb, #aaddcc) ;
  height: 100vh;
}

.App-header {
  background-color: #3f51b5;
  min-height: 70px;
  padding: 20px;
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.form {
  width: 600px;
}

.question {
  padding-top: 20px;
  padding-bottom: 40px;
}

.caption {
  color: rgba(0, 0, 0, 0.5);
}

.nextButton {
  float: right;
}

.dialogTitle {
  padding: 1.5em 2em 0 2em;
}